body{

		font: 20px Eras Demi ITC;
		margin: 0px;
		padding: 20px 10px 0px;
}

.textfield{

		font-size: 20px;
		color: white;
		background: #f7f7f7;
		border: 1px solid red;
		padding-left:1px;
		
}

h1{

		color: white;
		margin: 0px 0px 5px;
		padding: 0px 0px 3px;
		font: 20px Eras Demi ITC;
		border-bootom: 1px dashed #E6E8ED;
		font-weight: bold;
}

a{

		color: white;
		font-size: 18px;
}

a:hover{

		color: white;
}

.err{

		color: white;
}

th{

		font-weight: bold;
		text-align: left;
}
		